.battery {
    position: relative;
    margin:30px;
    width: 200px;
    height: 100px;
    border: 10px solid black;

    &::after {
        content: "";
        width: 100px;
        height: 100px;  
        background: red; 
        position: absolute;
        left: 0px;
        top: 0px;
    }
    &::before {
        content: "";
        width: 20px;
        height: 80px;
        background: black;
        position: absolute;
        left: 210px;
        top: 10px;   
    }
}

.menu {
    width: 400px;
    height: 100px;
    
    margin: 30px;
    position: absolute;
  
   
    &__box {
        position: absolute;
        width: 200px;
        height: 100px;
        background: linear-gradient(to right, red, black);
        position: absolute;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        color: white;
        box-sizing: border-box;
        padding-top: 40px;
        padding-left: 70px;
        cursor: pointer;
        
        
        
        &:hover {
            z-index: 4;
            transform: scale(1.2);
            
        }

     

        &_first {
            z-index: 3;
            
            clip-path: polygon(0% 0%, 50% 0, 83% 50%, 50% 100%, 0% 100%);
            left: 0;
          
            
        }

        &_second {
            z-index: 2;
            
            clip-path: polygon(0% 0%, 50% 0, 83% 50%, 50% 100%, 0% 100%);
            left: 100px;
            
            
        }

        &_third {
            z-index: 1;
            
            left: 200px;
            clip-path: polygon(0% 0%, 50% 0, 83% 50%, 50% 100%, 0% 100%);
        }
    }
}